.block-menu-block {
  @extend .panel;
  @extend .panel-default;

  .block__title {
    @extend .panel-heading;
    @extend .font-smoothing-on;
    font-size: 1.6rem;
    font-weight: $fw-bold;
    margin: 0;
    background: $panel-default-heading-bg;
    color: $panel-default-text;

    a {
      color: $panel-default-text;
      display: block;
      font-weight: $fw-bold;
    }
  }
}
